body {
    background-color: #ffdd90;
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/08/inteligencia-artificial.jpg");
    display:block;
    margin: auto;

}
.divClass {
    background: rgba(0, 0, 0, 0.685);
    color: rgb(255, 255, 255);
    text-align: center;
    
}
#thirdDiv {
    background: rgba(92, 188, 243, 0.295);
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 20px solid rgba(88, 88, 18, 0.445);
    margin: 0 auto;
}
#spanId {
    border: 50px solid black;
    font-size: 18px;
}
h1 {
    color: rgb(63, 71, 184);
}
h3 {
    color: rgb(255, 255, 255);
}
h4 {
    color: rgb(255, 255, 255);
}
img {
    width: 400px;
    display:block;
    margin:auto;
}